.attachment button {
  display: block;
}
.attachmentCard {
  background-color: #ffffff;
  background: #ffffff;
  border: 1px solid rgba(217, 217, 217, 0.3);
  box-sizing: border-box;
  box-shadow: 3px 2px 4px rgba(118, 93, 160, 0.03);
  margin-bottom: 5px;
  padding: 5px;
}
/* .attachment {
  padding: 20px;
} */
.headerAtachment {
  margin-bottom: 20px;
}
.customFileUploadNoBorder input {
  display: none !important;
}
.customFileUploadNoBorder {
  display: flex;
  /* padding: 6px 12px; */
  cursor: pointer;
  text-align: center;
  width: 75px;
  /* margin-top: 9px; */
  align-items: center;
  justify-content: space-around;
}
.titleColumn {
  /* text-align: center; */
  background: #f9f3f3;
  border-radius: 2px;
  padding: 5px;
}
