.notfic-badge{
    background-color: white;
    position: absolute;
    right: 0;
    top: 213px;
    font-size: 11px;
    font-weight: bolder;
    padding: 3px 8px;
}
.notfic-badge img{
    padding-left: 10px;
}
.UploaderContainer {
    border: solid 1px gray;
    padding: 5px 10px;
    width: 250px;
    margin: 10px auto;
    cursor: pointer;
  }
  .UploaderContainer span {
    margin: 0 10px;
  }
  
  .inquiryButton {
    margin-bottom: 20px;
  }
  
  table {
    width: 93%;
    margin: 0 auto;
  }
  .uploadBox {
    margin-right: 20px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 2px;
    width: 190px;
  }
  .uploadBox svg {
    padding: 10px;
  }
  
  .nextStep {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    padding: 15px;
  }
  
  .uploader input[type="file"] {
    display: none;
  }
  .remove-poser-pic{
    position:relative;
    padding:2px;
    text-align:center;
    color:red;
    margin:20px;
    border:1px solid;
    cursor: pointer;
  }
  .notic-date-holder{
    position: absolute;
    top: 0;
    right: 0;
    background: orange;
    color: white;
    padding: 2px 5px;
  }