
.nextStep {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  padding: 15px;
}

.card {
  background-color: #ffffff;
  /* padding: 9px; */
  padding: 9px 9px 0 9px;
  margin: 5px 20px 0px 20px;
  border-radius: 2px;
  /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%); */
  position: relative;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
.customUpload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.customUpload input[type="file"] {
  display: none;
}

.boxUploader {
  background-color: #f5f5f5;
  margin-bottom: 5px;
  margin-top: 6px;
  padding: 10px;
}
.titleColumn {
  margin: 0 20px 0 20px;
  padding: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #7a848e;
  background-color: rgb(199, 222, 248);
  font-weight: bold;
}

.card p {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}
.customSpin {
  margin: 20px auto;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 2px;
}
.radioGroup {
  display: flex;
  justify-content: stretch;
  width: fit-content;
  width: 100%;
  text-align: center;
}
.container {
  padding: 0 20px 0 20px;
}
