.Trip-box {
  width: 100%;
  background-color: white;
  direction: rtl;
  height: auto;
  border-radius: 8px;
  margin: 20px auto;
}
.text-color {
  color: #c2cdd9;
}
.Trip-title {
  display: flex;
  text-align: center;
  margin: 0px auto;
  width: 40%;
}

.Trip-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.text-color {
  color: #c2cdd9;
}
.Trip-items h3 {
  font-weight: bolder;
  font-size: 24px;
}
.trip-Point {
  color: #c2cdd9;
  font-size: 12px;
  font-size: 1rem;
}
.box-footer {
  direction: rtl;
  text-align: right;
  padding: 9px 12px;
}
.last-item {
  width: 100%;
}
.passenger-number {
  background-color: #f6f9fc;
  padding: 1px 35px;
  font-size: 25px;
  font-weight: bolder;
  margin: 0px 5px;
}
.passenger-add {
  background-color: #f6f9fc;
  padding: 3px 10px;
  font-size: 25px;
  border-radius: 0px 15px 15px 0px;
}
.passenger-minus {
  background-color: #f6f9fc;
  padding: 3px 10px;
  font-size: 25px;
  border-radius: 15px 0px 0px 15px;
}
.passenger {
  margin: 15px;

}
.neede-point {
  margin-top: 20px;
  color: #c2cdd9;
  font-size: 1rem;
}
.travel-description {
  font-size: 12px;
  direction: rtl;
  padding: 0px 12px;
  font-size: 1rem;
}
.btn-style {
  background-color: hsla(169, 100%, 30%, 1);
  color: white;
  border-radius: 8px;
  border: 1px solid;
  padding: 10px 20px;
  width: calc(100% - 20px);
  font-size: 16px;
  font-family: "BYekan";
  margin-bottom: -13px;
}
.waiting-style {
  color: hsla(42, 96%, 61%, 1);
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: -25px;
}

.point-style {
  color: hsla(217, 29%, 13%, 1);
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 20px;
  margin-top: -30px;
}
